{{!-- dreams.handlebars --}}

<div class="row">
  <div class="col-auto">
    <h2>{{name}}'s Dreams!</h2>
  </div>
</div>

<div class="dream-list">
  {{#if dreams.length}}
    {{#each dreams}}
      <div class="dream-item">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>Created by {{../name}} on {{date_created}}</p>
        <button data-id="{{id}}" class="edit-btn">Edit</button> <!-- Edit button -->
        <button data-id="{{id}}" class="delete-btn">Delete</button> <!-- Delete button -->
      </div>
    {{/each}}
  {{else}}
    <p>No dreams dreamt yet.</p>
  {{/if}}
</div>
